:root {
	--black: #000000;
	--blue: #3d8eff;
	--darkest: #FFA84E;
	--grey: #000000;
	--pink: #000000;
	--purple: #000305;
	--light: #EEE;
	--bgleft: rgb(35, 41, 71);
	--bgright: rgb(67, 91, 212);
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Orbitron', sans-serif;
}

body {
    font-family: 'Orbitron', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-image: linear-gradient(90deg, transparent 0%, transparent 12%, rgb(255,168,78) 12%, rgb(255,168,78) calc(12% + 2px), transparent calc(12% + 2px), transparent calc(12% + 6px), rgb(255,168,78) calc(12% + 6px), rgb(255,168,78) calc(12% + 8px), transparent calc(12% + 8px), transparent 100%), linear-gradient(180deg, rgb(242,206,157) 12%, transparent 12%), repeating-linear-gradient(180deg, rgb(163,188,199) 0px, rgb(163,188,199) 2px, transparent 2px, transparent 32px), linear-gradient(rgb(242,206,157),rgb(242,206,157));
}

/* Containers */

.container-fluid {
	padding: 7% 15%;
  }
  
  .navbar {
	padding: 0 0 4.5rem;
  }
  
  .navbar-brand {
	font-family: 'Orbitron', sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
  }
  
  .nav-item {
	padding: 0 18px;
  
  }
  
  .nav-link {
	border-radius: 10%;
	background-color: #000;
	color: #EEE;
	font-size: 1.8rem;
	font-family: 'Orbitron', sans-serif;
  }
  
  .nav-link:hover {
	border-radius: 10%;
	background-color: rgb(37, 34, 34);
	font-size: 1.9rem;
	font-family: 'Orbitron', sans-serif;
  }
  

header {
	font-family: 'Orbitron', sans-serif;
	padding: 2rem 1rem;
	max-width: 777px;
	width: 100%;
	margin: 0 auto;
}

header h1{
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	background-image: linear-gradient(to top, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 2.0rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
    border: 2px solid #A3BCC7;
	flex: 1 1 0%;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	background-image: linear-gradient(to top, var(--black), var(--blue));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#new-task-submit {
    border: 2px solid #A3BCC7;
	flex: 1 1 0%;
    border-radius: 1rem;
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--black), var(--blue));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
    border: 2px solid #2b6883;
	flex: 1 1 0%;
    border-radius: 1rem;
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--black), var(--blue));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	background-image: linear-gradient(to top, var(--black), var(--blue));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#tasks .task {
    border: 2px solid #A3BCC7;
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	font-family: 'Orbitron', sans-serif;
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: rgb(255, 0, 0);
}
.task .actions .delete:hover {
	text-shadow: 2px 1px 1px #EEE;
	color: rgb(153, 0, 0);
}